<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Google Maps - gmplot</title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyCvUo5G2lpWno3rMu0jNb8-4jGVs_dHxJo"></script>
<script type="text/javascript">
    function initialize() {
        var map = new google.maps.Map(document.getElementById("map_canvas"), {
            zoom: 13,
            center: new google.maps.LatLng(19.044263, 72.864344)
        });

        new google.maps.DirectionsService().route({
            origin: new google.maps.LatLng(19.044263, 72.864344),
            destination: new google.maps.LatLng(19.089560, 72.865614),
            travelMode: "DRIVING"
        }, function(response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                new google.maps.DirectionsRenderer({map: map}).setDirections(response);
            }
        });

    }
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
    <div id="map_canvas" style="width: 100%; height: 100%;" />
</body>
</html>
